.app {
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-container {
  padding: 0.8em;
  height: 88vh;
  width: 88%;
  margin: 16px;
  background-color: #00203F;
  color: #ADEFD1;
  font-weight: bolder;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}